<% if resource.errors.any? %>
  <div id="error_explanation" class="w-100 alert alert-danger alert-dismissible fade show">
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <%- if resource.errors.full_messages.one? %>
          <%= message %>
        <% else %>
          <li><%= message %></li>
        <% end %>
      <% end %>

      <%= button_tag "", type: "button", class: "btn-close", "data-bs-dismiss": "alert", "aria-label": "Close" %>
    </ul>
  </div>
<% end %>
