<div class="container-fluid">
  <% if notice.present? %>
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
      <%= notice %>
      <%= button_tag "", type: "button", class: "btn-close", "data-bs-dismiss": "alert", "aria-label": "Close" %>
    </div>
  <% end %>

  <% if alert.present? %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <%= alert %>
      <%= button_tag "", type: "button", class: "btn-close", "data-bs-dismiss": "alert", "aria-label": "Close" %>
    </div>
  <% end %>
</div>
