<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
   <a class="navbar-brand" href="#">Главная</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <div class="navbar-nav">
        <a class="nav-link" href="#">Каталог</a>
      </div>
      <div class="navbar-nav">
        <a class="nav-link" href="#">О нас</a>
      </div>
      <div class="navbar-nav">
        <a class="nav-link" href="#">Связаться с нами</a>
      </div>
      <div class="ms-auto p-2 bd-highlight"> <!-- Positioning the navigation bar item in the far right corner -->
        <div class="btn-toolbar" role="toolbar">
        <% if user_signed_in? %>

          <%= link_to 'Редактировать аккаунт', edit_user_registration_path, class: "btn btn-outline-warning", data: { turbo: "false" } %>

          <%= link_to 'Выйти', destroy_user_session_path, method: :delete, class: "btn btn-outline-danger", data: { turbo: "false" } %>

        <% else %>
          <%= link_to 'Зарегистрироваться', new_user_registration_path, class: "btn btn-outline-success", data: { turbo: "false" } %>
          <%= link_to 'Войти', new_user_session_path, class: "btn btn-outline-success", data: { turbo: "false" } %>

        <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>
